<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOME_APP</title>
</head>
<body>
    <div>
        <h1>Natalia jest super</h1>
        <style> td, th { border: 1px solid black; } </style>
        <!-- ustawienie czarnego obramowania komórek tabeli w CSS -->
        <table>
            <thead>
                <tr>
                    <th>TEMPERATURE</th><th>HUMIDITY</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>36.6</td><td>50%</td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>